In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
user = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user")
user.head()

  user_id|age|gender|occupation|zip_code
0                1|24|M|technician|85711
1                     2|53|F|other|94043
2                    3|23|M|writer|32067
3                4|24|M|technician|43537
4                     5|33|F|other|15213

In [15]:
user['user_id']=user['user_id|age|gender|occupation|zip_code'].apply(lambda x:x.split('|')[0])
user['age']=user['user_id|age|gender|occupation|zip_code'].apply(lambda x:int(x.split('|')[1]))
user['gender']=user['user_id|age|gender|occupation|zip_code'].apply(lambda x:x.split('|')[2])
user['occupation']=user['user_id|age|gender|occupation|zip_code'].apply(lambda x:x.split('|')[3])
user['zip_code']=user['user_id|age|gender|occupation|zip_code'].apply(lambda x:x.split('|')[4])
user.drop('user_id|age|gender|occupation|zip_code',axis=1,inplace=True)
user.set_index('user_id',inplace=True)
print("----------First 10 entries--------")
user.head(10)

----------First 10 entries--------

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703

In [16]:
print("----------Last 10 entries--------")
user.tail(10)

----------Last 10 entries--------

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [17]:
print(f"Number of observation: {len(user)}")

Number of observation: 943

In [19]:
print(f"Number of columns: {user.shape[1]}")

Number of columns: 4

In [20]:
print(f"Name of all the columns: {user.columns}")

Name of all the columns: Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [21]:
print(f"Dataset indexed: {user.index}")

Dataset indexed: Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       ...
       '934', '935', '936', '937', '938', '939', '940', '941', '942', '943'],
      dtype='object', name='user_id', length=943)

In [22]:
print(f"Datatype of each column: {user.info()}")

<class 'pandas.core.frame.DataFrame'>
Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 69.1+ KB
Datatype of each column: None

In [24]:
print(f"Occupation of all people:\n {user['occupation']}")

Occupation of all people:
 user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [25]:
print(f"Total number of occupations are in dataset: {len(user['occupation'].unique())}")

Total number of occupations are in dataset: 21

In [27]:
print(f"Most frquent occupation:\n {user['occupation'].mode()}")

Most frquent occupation:
 0    student
dtype: object

In [30]:
print(f"Dataframe information: {user.info()}")

<class 'pandas.core.frame.DataFrame'>
Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 69.1+ KB
Dataframe information: None

In [31]:
print(f"Describe all the columns:\n {user.describe()}")

Describe all the columns:
               age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [33]:
print(f"Summary of occupations:\n {user.groupby('occupation')['occupation'].count()}")

Summary of occupations:
 occupation
administrator     79
artist            28
doctor             7
educator          95
engineer          67
entertainment     18
executive         32
healthcare        16
homemaker          7
lawyer            12
librarian         51
marketing         26
none               9
other            105
programmer        66
retired           14
salesman          12
scientist         31
student          196
technician        27
writer            45
Name: occupation, dtype: int64

In [35]:
print(f"Mean of all users age: {user['age'].mean()}")

Mean of all users age: 34.05196182396607

In [37]:
print(f"Least occurence of age: {user['age'].value_counts().idxmin()}")

Least occurence of age: 7